.main{

  /* min-height: calc(100vh - 200px); */
  display: flex;
}


/* .main{

}


.kanbanBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 1fr;
}
.kanbanBoard div{
    justify-self: center;
}

.statusColumn{
    border: 1px white solid;
    background-color: purple;
} */




.kanbanBoard {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 1fr;
    gap: 0 0.7rem;
    padding: 15px;
  }

  /* .kanbanBoard > :nth-child(1) { */
.todoHeader{
    background-color: #3b82f6;
  }
  /* .kanbanBoard > :nth-child(2) { */
  .inProgressHeader{
    background-color: #facc15;
  }
  /* .kanbanBoard > :nth-child(3) { */
  .doneHeader{
    background-color: #10b981;
  }

  
  .columnHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    color: white;
  }
  
  .statusColumn {
    background-color: #f3f4f6;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 10px;
    overflow-y: auto;
    min-height: calc(100vh - 200px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0 20px;
  }


  



