.main{
    width: 300px;
    min-height: calc(100vh - 130px);
    height: 100%;
    box-sizing: border-box;
    padding: 35px 15px;
    background-color: white;
    border-right: 2px #f3f4f6 solid;
    min-height: calc(100vh - 100px);
}
.main label{
    margin-top: 20px;
}