.editUserOverlay{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 100px; */
    margin-top: 50px;
    height: calc(100% - 100px);
}

.formEditUser{
    /* display: flex;
    flex-direction: column;
    gap: 14px;
    width: 600px;
    padding: 32px;
    border: 3px purple solid;
    border-radius: 12px; */

    /* display: grid; */
    /* grid-template-rows: 70px 1fr 70px; */
    /* grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    width: 600px;
    border: 3px purple solid;
    border-radius: 12px;
    padding: 32px;
}

.formEditUser label{
    /* width: 100%; */
}

.infoBlock{
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;

}

.headerBlock{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}
.headerBlock h1{
    font-size: 28px;
    font-weight: bold;
}

.displayInputLike{
    margin-top: 4px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    font-size: 14px;
    background-color: #f0f0f0; /* Світло-сірий фон */
    color: #4a5568; /* Темніший колір тексту для кращої читабельності на сірому */
  }

  .buttonBlock{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .buttonBlock button{
    width: 200px;
  }