.main{
    /* todo take this height parameter to main tag */
    min-height: calc(100vh - 100px);
    padding: 30px 36px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #f9f9fb;
}

.element{
    border: 1px #E2E8F0 solid;
    border-radius: 12px;
    padding: 16px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element:hover{
    background-color: #f5f3ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.element h3{
    font-size: 18px;
    font-weight: 600;
    color: #1A202C;
    margin-bottom: 4px;}

.element p{
    font-size: 14px;
    color: #4A5568;
}


.settingIconWrapper {
    display: inline-block; /* Щоб обертаючий div не займав всю ширину */
  }
  
  .settingsIcon {
    cursor: pointer;
    transition: color 0.3s ease; /* Для плавної зміни кольору */
  }
  
  .settingIconWrapper:hover .settingsIcon {
    color: purple; /* Змінюємо колір іконки при наведенні */
  }