.main{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    padding-top: 100px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.headerBlock{
    display: flex;
    gap: 20px;
}
.headerBlock h1{
    font-size: 30px;
}

